@namespace PuckTracker.Components
@inject NavigationManager navManager

<Button Color="Color.Success" TextWeight="TextWeight.Bold" Clicked="ShowModal">EDIT PLAYER NUMBERS</Button>


<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Edit Numbers</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Selection</FieldLabel>
                <Select @bind-SelectedValue="@selectedTeam">
                    @foreach (Roster roster in rosters)
                    {
                        <SelectItem Value="@roster.Name">@roster.Name</SelectItem>
                    }
                </Select>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Success" Clicked="GoToEditNumbers">Edit Numbers</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {


    #region Modal

    private Modal modalRef;

    private Task ShowModal() { return modalRef.Show(); }
    private Task HideModal() { return modalRef.Hide(); }

    #endregion

    string selectedTeam;
    List<Roster>? rosters = null;
    protected override async Task OnInitializedAsync()
    {
        rosters = await Api.RosterService.Instance().Rosters();
        if (rosters.Count != 0)
        {
            selectedTeam = rosters[0].Name;
        }
    }

    void GoToEditNumbers()
    {
        HideModal();

        navManager.NavigateTo($"/editnumbers?team={selectedTeam}");
    }
}