@namespace PuckTracker.Components

@if (roster is not null)
{
    <Table Bordered FullWidth TextSize="TextSize.Small">
        <TableHeader>
            <TableRow>
                <TableHeaderCell ColumnSpan="2" TextColor="TextColor.Secondary">@roster.Name.ToUpper()</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableHeader>
            <TableRow>
                <TableHeaderCell TextAlignment="TextAlignment.Center">#</TableHeaderCell>
                <TableHeaderCell TextAlignment="TextAlignment.Center">PLAYER</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var player in roster.Players)
            {
                <TableRow>
                    <TableRowHeader TextAlignment="TextAlignment.Center">
                        @player.Number</TableRowHeader>
                    <TableRowCell TextAlignment="TextAlignment.Center">@player.Name</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    [Parameter] public Roster? roster { get; set; } = null;
}