<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(PuckTracker.Components.Layout.MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
    <MessageProvider />
    <PageProgressProvider />
</Blazorise.ThemeProvider>
@code {
    private Theme theme = new()
        {
            BarOptions = new()
            {
                HorizontalHeight = "72px"
            },
            ColorOptions = new()
            {
                Primary = "#006BB6",
                Secondary = "#ff2c2c", //"#FFC72C",
                Success = "#3E885B",
                Info = "#FFB81C",
                Warning = "#F26430",
                Danger = "#A71D31",
                Light = "#EEEEFF",
                Dark = "#26282A",
            },
            BackgroundOptions = new()
            {
                Primary = "#1d65c4", //"#006BB6",
                Secondary = "#ff2c2c", //"#FFC72C",
                Success = "#3E885B",
                Info = "#FFB81C",
                Warning = "#F26430",
                Danger = "#A71D31",
                Light = "#EEEEFF",
                Dark = "#26282A",
            },
            TextColorOptions = new()
            {
                Primary = "#006BB6",
                Secondary = "#ff2c2c", //"#FFC72C",
                Success = "#3E885B",
                Info = "#FFB81C",
                Warning = "#F26430",
                Danger = "#A71D31",
                Light = "#EEEEFF",
                Dark = "#26282A",
            },
            InputOptions = new()
            {
                CheckColor = "#006BB6",
            }
        };
}